<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Oops... 404</title>
		<!-- CSS only -->
		<link rel="shortcut icon" type="image/jpg" href="./assets/favicon.png" />
		<link rel="stylesheet" href="./assets/css/style.css" />
	</head>
	<style>
		body {
			background-image: url('https://raw.githubusercontent.com/IshaanOhri/Spreen/master/src/public/assets/404-background.png');
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
	<body>
		<div class="error center">
			<p>Oops.. The requested page does not exist</p>
			<a href="/"><button id="home-btn">Return to Safety</button></a>
		</div>
	</body>
</html>
