<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Oops... 404</title>
	</head>
	<style>
		body {
			background-image: url('https://raw.githubusercontent.com/IshaanOhri/screen-share/master/src/views/public/404-background.png');
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
	<body></body>
</html>
