<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Spreen - The Screen Sharing App</title>
		<!-- CSS only -->
		<link rel="shortcut icon" type="image/jpg" href="./assets/favicon.png" />
		<link rel="stylesheet" href="./assets/css/style.css" />
	</head>
	<body>
		<p id="myid"></p>
		<div id="watch-video-grid"></div>
	</body>
	<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="./js/watch.js"></script>
</html>
